In [1]:
import pandas as pd
import os

df = pd.read_csv(f"{os.getcwd()}//resources//data//reduced_data.csv")

In [6]:
one_play = df.loc[(df['gameId']==2022091200) & (df['playId']==64)]

In [7]:
one_play[['x', 'y', 'position']]

        x      y position
0   37.94  23.86       QB
1   38.52  22.21        G
2   39.41  14.39       WR
3   39.17  23.66        C
4   32.15  23.82       RB
5   38.16  18.39       TE
6   36.93  25.59       TE
7   38.70  33.37       WR
8   38.65  25.19        G
9   38.47  26.60        T
10  38.47  20.64        T